<center><img src='img/ms_logo.jpeg' height=40% width=40%></center>


<center><h1>Building a Model to Predict Survival for Titanic Passengers</h1></center>


**Welcome to _DS2: Introduction to Machine Learning_**!  This course will be all about _predictive analytics_--that is, using data and algorithms to make accurate predictions.  For our introductory exercise for this course, we're going to focus on the one of the areas where machine learning really shines--**_Classification_**.  We're going to examine the data and build a simple model to predict whether or not a passenger survived the Titanic disaster.  Here's the catch: before we use any machine learning, we're going to build a classifier by hand to gain an intuition about how classification actually works.  
<br>
<br>
<center><h2>The Gameplan</h2></center>

We're going to start by building the simplest model possible, and then slowly add complexity as we notice patterns that can make our classifier more accurate.  

Recall that we've investigated this dataset before, in DS1. We're going to use our _Data Analysis_ and _Visualization_ skills from DS1 to investigate our dataset and see if we can find some patterns that we can use in our prediction algorithm. In order to successfully build a prediction algorithm, we'll use the following process:

**1.  Load and explore the data.**  
    --We'll begin by reading our data into a dataframe, and then visualizing our data to see if we can find certain groups that had higher survival rates than others.  At this step, we'll also remove the `Survived` column from the dataframe and store it in a separate variable.  
    
**2.Write a prediction function.** 
<br>
    -- We'll write a function that takes in a dataframe and predicts 0 (died) or 1(survived) for each passenger based on whatever we decide is important.  This function should output a vector containing only 0's and 1's, where the first element is the prediction for the first passenger in the dataframe, the 2nd element is the prediction for the second passenger, etc.  
    
**3.  Write an evaluation function.**
<br>
    -- In order to evaluate how accurate our prediction function is, we'll need to track how it does.  To do this, we'll create a _confusion matrix_.  This matrix will exist as a dictionary that tracks the number of _True Positives_, _True Negatives_, _False Positives_, and _False Negatives_ our algorithm makes--don't worry if you haven't seen these terms before. We'll define them in a later section.
    
**4. Tweak our prediction function until we're happy!**
    --once we've built out the functions that underpin our predictive algorithm, we'll tweak them until we hit our desired accuracy metric.  In this case, **_we'll shoot for an accuracy of at least 80%._**
<br>
<br>
<center>Let's get started!</center>

In [97]:
#Import everything needed for the project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
%matplotlib inline

<center><h2>Step 1: Load and Explore the Data</h2></center>

In this section, we'll:

1. Read the data from `titanic.csv` and store it in a dataframe (you'll find this file in the `/datasets` folder).
2. Remove the `Survived` column from the dataframe and store it as a Pandas Series in a variable. 
3. Create a general purpose function that visualizes survivors vs deaths in any data frame passed in.
4. Clean our dataframe (remove unnecessary columns, deal with null values, etc).  
5. Explore our data and figure out which groups are most likely to survive.


NOTE: There are many ways to successfully visualize survival rates across the different features. The most inuitive way to visualize survival rates as a stacked bar chart, where 'survived' and 'dead' are different colors on the same bar.  For an easy explanation of how to make these bar charts, see [this Stack Overflow question](https://stackoverflow.com/questions/41622054/stacked-histogram-of-grouped-values-in-pandas).

In [98]:
# Read in the titanic.csv dataset from the /datasets folder.  
raw_df = pd.read_csv('datasets/titanic.csv')

# Store the survived column in the labels variable, and then drop the column from the data frame.  
labels = None


#Don't forget to remove these columns from the dataframe!
columns_to_remove = ['PassengerId', 'Name', 'Ticket', 'Cabin']
titanic_df= raw_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'],axis=1)
titanic_df.head()

 
#study material for this dataset
#https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.mstats.zscore.html

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

## Survival rate based on Sex

### 74% percent of women survived
### 18% of men survived

In [99]:

titanic_df
#titanic_age_df.plot.hist()

titanic_df[["Sex", "Survived"]].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

      Sex  Survived
0  female  0.742038
1    male  0.188908

## Survival rate based on Pclass
### 62.9 % of 1st class people survived
### 47.3 % of 2nd class
### 24 % of 3rd class

In [100]:
titanic_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

## Survival rate based on where they embarked from
### 55.4% of people who boarded at Cherbourg, France survived
### 40% of people who boarded at  Queenstown, Ireland survived
### 33.6 % of people who boarded at SouthHampton, England Survived

In [101]:
titanic_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index = False).mean().sort_values(by ='Survived', ascending = False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.336957

## Survival rate based on how many spouses or siblings were on board
### The more Spouses or siblings you had, the more likely you were to die
### 53% of people who had only 1 spouse or sibling survived
### 46% of people who had 2 spouses or siblings  survived
### 25% of people who had 3 spouses or siblings survived
### 16% of people who had 4 spouses or siblings survived
### 0 % of 5 and the max of 6 spouses or siblings survived

In [102]:
titanic_df[['SibSp', 'Survived']].groupby(['SibSp'], as_index = False).mean().sort_values(by ='Survived', ascending = False)

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

## Survival rate based on how many parents or children were on board
### 34% of people who had no parents or siblings on board survived
### 55% of people who had 1 parent or sibling survived
### 50% of people who had 2 parents or siblings survived
### 60% of people who had 3 parents or siblings survived
### 0% of people who had 4 parents or siblings survived
### 20% of people who had 5 parents or siblings survived
### 0% of people who had 6 parents or siblings survived

In [103]:
titanic_df[['Parch', 'Survived']].groupby(['Parch'], as_index = False).mean().sort_values(by ='Survived', ascending = True)

   Parch  Survived
4      4  0.000000
6      6  0.000000
5      5  0.200000
0      0  0.343658
2      2  0.500000
1      1  0.550847
3      3  0.600000

## REMOVING AND STORING SURVIVED AS ITS OWN DATAFRAME

In [104]:
survived__column_df = titanic_df['Survived']

survived__column_df.describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [105]:

train_df =titanic_df.drop(['Survived'],axis=1)
#done with dropping the oher data frame
train_df

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0         3    male  22.0      1      0    7.2500        S
1         1  female  38.0      1      0   71.2833        C
2         3  female  26.0      0      0    7.9250        S
3         1  female  35.0      1      0   53.1000        S
4         3    male  35.0      0      0    8.0500        S
5         3    male   NaN      0      0    8.4583        Q
6         1    male  54.0      0      0   51.8625        S
7         3    male   2.0      3      1   21.0750        S
8         3  female  27.0      0      2   11.1333        S
9         2  female  14.0      1      0   30.0708        C
10        3  female   4.0      1      1   16.7000        S
11        1  female  58.0      0      0   26.5500        S
12        3    male  20.0      0      0    8.0500        S
13        3    male  39.0      1      5   31.2750        S
14        3  female  14.0      0      0    7.8542        S
15        2  female  55.0      0      0   16.0000        S
16        3    male   2.0      4      1   29.1250        Q
17        2    male   NaN      0      0   13.0000        S
18        3  female  31.0      1      0   18.0000        S
19        3  female   NaN      0      0    7.2250        C
20        2    male  35.0      0      0   26.0000        S
21        2    male  34.0      0      0   13.0000        S
22        3  female  15.0      0      0    8.0292        Q
23        1    male  28.0      0      0   35.5000        S
24        3  female   8.0      3      1   21.0750        S
25        3  female  38.0      1      5   31.3875        S
26        3    male   NaN      0      0    7.2250        C
27        1    male  19.0      3      2  263.0000        S
28        3  female   NaN      0      0    7.8792        Q
29        3    male   NaN      0      0    7.8958        S
..      ...     ...   ...    ...    ...       ...      ...
861       2    male  21.0      1      0   11.5000        S
862       1  female  48.0      0      0   25.9292        S
863       3  female   NaN      8      2   69.5500        S
864       2    male  24.0      0      0   13.0000        S
865       2  female  42.0      0      0   13.0000        S
866       2  female  27.0      1      0   13.8583        C
867       1    male  31.0      0      0   50.4958        S
868       3    male   NaN      0      0    9.5000        S
869       3    male   4.0      1      1   11.1333        S
870       3    male  26.0      0      0    7.8958        S
871       1  female  47.0      1      1   52.5542        S
872       1    male  33.0      0      0    5.0000        S
873       3    male  47.0      0      0    9.0000        S
874       2  female  28.0      1      0   24.0000        C
875       3  female  15.0      0      0    7.2250        C
876       3    male  20.0      0      0    9.8458        S
877       3    male  19.0      0      0    7.8958        S
878       3    male   NaN      0      0    7.8958        S
879       1  female  56.0      0      1   83.1583        C
880       2  female  25.0      0      1   26.0000        S
881       3    male  33.0      0      0    7.8958        S
882       3  female  22.0      0      0   10.5167        S
883       2    male  28.0      0      0   10.5000        S
884       3    male  25.0      0      0    7.0500        S
885       3  female  39.0      0      5   29.1250        Q
886       2    male  27.0      0      0   13.0000        S
887       1  female  19.0      0      0   30.0000        S
888       3  female   NaN      1      2   23.4500        S
889       1    male  26.0      0      0   30.0000        C
890       3    male  32.0      0      0    7.7500        Q

[891 rows x 7 columns]

# -----------------------------------------------------------------------------------------------------------

### 2.Write a prediction function. 

### We'll write a function that takes in a dataframe and predicts 0 (died) or 1(survived) for each passenger based on whatever we decide is important. This function should output a vector containing only 0's and 1's, where the first element is the prediction for the first passenger in the dataframe, the 2nd element is the prediction for the second passenger, etc.

Next, we'll create a function that allows us to quickly visualize the survival rates of any dataframe of passengers.  This way, we can iterate quickly by slicing our dataframe and visualizing the survival rate to see if we can find any patterns that will be useful to us.  

As an example, if we wanted to visualize the survival rates of men versus women, we would create a dataframe object that contains only the information that matters to us, and then pass it into this function.  When completed, this function should output a histogram plot that looks like the ones seen in the Stack Overflow link listed above.

In [135]:
 train_df['Sex']

0        male
1      female
2      female
3      female
4        male
5        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25     female
26       male
27       male
28     female
29       male
        ...
861      male
862    female
863    female
864      male
865    female
866    female
867      male
868      male
869      male
870      male
871    female
872      male
873      male
874    female
875    female
876      male
877      male
878      male
879    female
880    female
881      male
882    female
883      male
884      male
885    female
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [212]:
test_df = train_df[(train_df['Sex']== 'male')]
test_df

     Pclass   Sex   Age  SibSp  Parch      Fare Embarked
0         3  male  22.0      1      0    7.2500        S
4         3  male  35.0      0      0    8.0500        S
5         3  male   NaN      0      0    8.4583        Q
6         1  male  54.0      0      0   51.8625        S
7         3  male   2.0      3      1   21.0750        S
12        3  male  20.0      0      0    8.0500        S
13        3  male  39.0      1      5   31.2750        S
16        3  male   2.0      4      1   29.1250        Q
17        2  male   NaN      0      0   13.0000        S
20        2  male  35.0      0      0   26.0000        S
21        2  male  34.0      0      0   13.0000        S
23        1  male  28.0      0      0   35.5000        S
26        3  male   NaN      0      0    7.2250        C
27        1  male  19.0      3      2  263.0000        S
29        3  male   NaN      0      0    7.8958        S
30        1  male  40.0      0      0   27.7208        C
33        2  male  66.0      0      0   10.5000        S
34        1  male  28.0      1      0   82.1708        C
35        1  male  42.0      1      0   52.0000        S
36        3  male   NaN      0      0    7.2292        C
37        3  male  21.0      0      0    8.0500        S
42        3  male   NaN      0      0    7.8958        C
45        3  male   NaN      0      0    8.0500        S
46        3  male   NaN      1      0   15.5000        Q
48        3  male   NaN      2      0   21.6792        C
50        3  male   7.0      4      1   39.6875        S
51        3  male  21.0      0      0    7.8000        S
54        1  male  65.0      0      1   61.9792        C
55        1  male   NaN      0      0   35.5000        S
57        3  male  28.5      0      0    7.2292        C
..      ...   ...   ...    ...    ...       ...      ...
840       3  male  20.0      0      0    7.9250        S
841       2  male  16.0      0      0   10.5000        S
843       3  male  34.5      0      0    6.4375        C
844       3  male  17.0      0      0    8.6625        S
845       3  male  42.0      0      0    7.5500        S
846       3  male   NaN      8      2   69.5500        S
847       3  male  35.0      0      0    7.8958        C
848       2  male  28.0      0      1   33.0000        S
850       3  male   4.0      4      2   31.2750        S
851       3  male  74.0      0      0    7.7750        S
857       1  male  51.0      0      0   26.5500        S
859       3  male   NaN      0      0    7.2292        C
860       3  male  41.0      2      0   14.1083        S
861       2  male  21.0      1      0   11.5000        S
864       2  male  24.0      0      0   13.0000        S
867       1  male  31.0      0      0   50.4958        S
868       3  male   NaN      0      0    9.5000        S
869       3  male   4.0      1      1   11.1333        S
870       3  male  26.0      0      0    7.8958        S
872       1  male  33.0      0      0    5.0000        S
873       3  male  47.0      0      0    9.0000        S
876       3  male  20.0      0      0    9.8458        S
877       3  male  19.0      0      0    7.8958        S
878       3  male   NaN      0      0    7.8958        S
881       3  male  33.0      0      0    7.8958        S
883       2  male  28.0      0      0   10.5000        S
884       3  male  25.0      0      0    7.0500        S
886       2  male  27.0      0      0   13.0000        S
889       1  male  26.0      0      0   30.0000        C
890       3  male  32.0      0      0    7.7500        Q

[577 rows x 7 columns]

In [388]:
# Create a function used to visualize survival rates for the data frame passed in
def visualize_survival_rates(dataframe, xlabel=None, ylabel="Count"):
    """    
    Inputs: dataframe--a pandas dataframe object consisting of the things you want visualized.  
            labels--a pandas series object that tells us whether each passenger died (0) or survived(1)
            
    Outputs: A 2 color histogram that visualizes the survival rate of passengers based on the values contained 
    within the dataframe.  For instance, if we pass in a visualization 
    
    NOTE: You should rely on the dataframe's .hist() method to do most of the heavy lifting for visualizations.  
    Any slicing of the dataframe should be done BEFORE you call this function.  For instance, if you want to visualize
    survival rates of men under 30 vs women under 30, you should create a dataframe containing only these rows and 
    columns before passing it into this function, rather than passing in the full original dataframe.  This will 
    allow you to keep the logic in this function simple.
    
    """
    #MUST CONVERT TO DATA FRAME FOR INDEXING
    xlabel=xlabel.to_frame()
    plt.figure();
    ## converts into a grpahble figure
    df_survived = dataframe
  
   
    
    print(type(df_survived))
    #shows the number of people who fit your profile
    print(df_survived)
    
    #df_survived.plot(kind='hist')

In [389]:
visualize_survival_rates(train_df,survived__column_df)

<class 'pandas.core.groupby.DataFrameGroupBy'>
<pandas.core.groupby.DataFrameGroupBy object at 0x000001E2B6113198>

<center><h3>Building a Prediction Function</h3></center>

Next, we'll write a prediction function.  We'll use basic control flow to examine each row in the data set and make a prediction based on whatever we think is important.  If you explored the data set, you may have stumbled upon a few interesting discoveries, such as:

* Women were more likely to survive than men.  
* Rich people were more likely to survive than poor people.  
* Young people were more likely to survive than others.  

(NOTE: We made these up--don't automatically assume they're true without investigating first!)

These may seem obvious, but don't discount their usefulness! We can use these facts to build a prediction function that has decent accuracy! For instance, let's pretend that we found that 80% of all women survived.  Knowing this, if we then tell our algorithm to predict than all female passengers survived, we'll be right 80% of the time for female passengers! 

Complete the following prediction function.  It should take in a dataframe of titanic passengers.  Based on the things you think are important (just use a bunch of nested control flow statements), you'll output a 1 if you think this passenger survived, or a if you think they died.  

The function should output an array where the first item is the prediction for the first row in the dataframe, the 2nd item in the array is the prediction for the seconf row in the dataframe, etc.

In [108]:
def predictions_from_df(dataframe):
    predictions = []
    # WRITE YOUR PREDICTION CODE BELOW!
    # AS OF NOW PREDICTIONS HAVE NOT BEEN CLACULATED
    #the 1 or zero is the representation of being dead or alive in the sample
    for n in range( len(dataframe)):
        #A representation of a person who might fit the profile and how they may or may not survive
        Survived = dataframe.iloc[n]
        #Personally think that sex is the most importat factor in survival                        
        sex = person['Sex']
        #Second most important as mosre preople from the firstclass survived than age groups as a control, vs sex(80% female)
        pclass = person['Pclass']
        #Least important significant data thats not fare
        age = person['Age']
        # if the person is a first class female within a certain range 12-under for children, adolescents at 13-19, young/mid adults from 20-40
        #
        if pclass == 1:
            if sex == "female":
                predict.append(1)
            elif age < 12 or (age > 13 and age < 19) or (age > 20 and age < 40) or(age > 41 and age< 60) or (age > 61 < 80 ) :
                predict.append(1)
            else:
                predict.append(0)
         #second class females by age
        elif pclass == 2:
            if sex == "female":
                predict.append(1)
            elif age < 12 or (age > 13 and age < 19) or (age > 20 and age < 40) or(age > 41 and age< 60) or (age > 61 < 80 ):
                predict.append(1)
            else:
                predict.append(0)
        # 3RD CLASS FEMALES
        elif pclass == 3:
            if sex == "female":
                if age < 12 or (age > 13 and age < 19) or (age > 20 and age < 40) or(age > 41 and age< 60) or (age > 61 < 80 ):
                    predict.append(1)
                else:
                    predict.append(0)
            elif age < 15:
                predict.append(1)
            else:
                predict.append(0)
    return predict
    #SHOULD return a 1 or zero value as to survival

<center><h3>Evaluating Your Predictions</h3></center>

Great! Now we've evaluated our data and made a bunch of predictions--but predictions are only interesting if they're accurate.  In order to do this, we're going to create a **_Confusion Matrix_** to track what we got right and wrong (and _how_ we were right and wrong).  

There are 4 different possible outcomes for each prediction:

1. **True Positive** -- You predicted they survived (1), and they actually survived (1). 
2. **True Negative** -- You predicted they died (0), and they actually died (0).
3. **False Positive** -- You predicted they survived (1), and they actually died (0).
4. **False Negative** -- You predicted they died (0), and they actually survived (1).

We're going to write a function that takes in our predictions and the actual labels (the "Survived" column we removed from the actual data frame), and determines which possible outcome we had for each prediction.  We will keep track of how many times each outcome happened by incrementing a counter for each in our _Confusion Matrix_ dictionary.

In [109]:
def create_confusion_matrix(predictions, labels):
    confusion_matrix = {"TP": 0, "TN": 0, "FP": 0, "FN": 0}
    
    # Recall each index in both 'predictions' and 'labels' are referring to the corresponding row.  
    # E.G. predictions[0] and label [0] both refer to row 0 in the dataframe that was passed into the 
    # prediction function.
    
    #TODO: Create the confusion matrix by comparing the values in predictions to the corresponding values in labels.  
    # Use the definitions in the text above to determine which item in the dictionary you should increment.  
    
    return confusion_matrix


def get_accuracy(confusion_matrix):
    # Create a function that returns the accuracy score for your classifier.  
    # The formula for accuracy = TP + TN / TP + TN + FP + FN
    pass

<center><h3>Where to Go From Here</h3></center>

Now that you have a way to evaluate your predictions, modify your prediction function until you can achieve an evaluation score above 80%!